* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(231, 229, 229);
    text-transform: capitalize;
}

.container {
    width: 400px;
    height: 250px;
    background-color: rgb(253, 253, 253);
    margin: 2rem auto;
    padding: 2rem;
    text-align: center;
    box-shadow: 2px 5px 5px 0px rgba(223, 222, 222, 0.5);
}

.container .main {
    padding: 1.5rem;
}

.container .main h1 {
    font-size: 40px;
}

.container .main-buttons button {
    margin: 1rem 10px;
    padding: 6px 1rem;
}